body {
  width: 175px;
  min-height: 175px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: outset 10px;
}


.icons {
  margin-left : 10px;
}

button {
cursor: pointer;
background-color: transparent; 
border: none;
}




