body {
  width: 175px;
  min-height: 175px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: outset 10px;
  border-bottom-color: #9ae59c;
  border-top-color: #ff646f;
  border-left-color: #9ae59c;
  border-right-color: #ff646f;

}


.icons {
  margin-left : 10px;
}

button {
cursor: pointer;
background-color: transparent; 
border: none;
}




