/*Cadre de couleur autour du site */
   body:before, body:after {
    content: "";
    position: fixed;
    z-index: 100000000;
    background: inherit;
    left: 0;
    right: 0;
    height: 20px;
  }
  body:before {
    top: 0;
  }
  body:after {
    bottom: 0;
  }*/

#color {
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
}