/*body {
    background-color:red !important;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 20px;
}

  body:before, body:after {
    content: "";
    position: fixed;
    z-index: 999;
    background: inherit;
    left: 0;
    right: 0;
    height: 20px;
  }
  body:before {
    top: 0;
  }
  body:after {
    bottom: 0;
  }*/

#color {
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
}